<div class="mt-5 body-container">
  <h1>about works!</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum inventore, sit
    consectetur assumenda dolorem, ullam eveniet culpa minima, voluptatum
    quaerat exercitationem. Ipsum repudiandae natus numquam nostrum, ea culpa
    incidunt accusamus, at distinctio fugiat iusto quis quam ab rem, veniam
    alias? Ducimus laudantium aut consequuntur libero reprehenderit sit dolorem
    beatae adipisci molestias deserunt, in atque doloribus, labore veritatis
    animi. Explicabo velit distinctio libero quam a. Reprehenderit explicabo
    delectus adipisci? Porro odio facere quos aut maiores cupiditate fuga quo
    suscipit, natus possimus incidunt fugiat, ad repudiandae! Maiores nobis modi
    nostrum quae sunt aperiam explicabo excepturi harum in totam eligendi quam,
    architecto laboriosam?
  </p>
</div>
