.docs-example-viewer-title-spacer {
  border-radius: 10px;
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 10px;
  background-color: azure;
}
.docs-example-viewer-wrapper {
  border: 0;
  // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  margin: 1em auto;
  border-radius: 4px;
}

.docs-example-viewer-body {
  padding: 15px;
  align-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.mat-card-image {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
}
.mat-card-image:first-child {
  margin-top: -16px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.preview-image {
  max-height: 300px;
  max-width: 300px;
}
.table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

.al-title {
  margin: 10px;
}
