/* styles.css */
.rounded-pill {
  margin-top: 10px;
  border-radius: 50px; /* Adjust the value for the desired curve */
}

.btn-white-bg {
  background-color: white;
  color: #333; /* Change text color as needed */
}
.container {
  margin: 10px;
}
.error {
  color: red;
  text-shadow: #333;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
