<body class="">
  <div class="col-lg-3" *ngFor="let element of bookList">
    <mat-card
      class="
        mat-card mat-focus-indicator
        book-card
        mat-elevation-z2
        card-deck-container
      "
    >
      <mat-card-content class="mat-card-content image-card">
        <span
          mattooltipclass="example-tooltip"
          aria-label="Book title"
          class="mat-tooltip-trigger"
          aria-describedby="cdk-describedby-message-1"
          ><img
            mat-card-image
            mat-card-image=""
            alt="Book cover image"
            class="mat-card-image preview-image img-container"
            [src]="imgBasePath + element.coverFileName"
            alt="" /></span
      ></mat-card-content>
      <mat-card-content>
        <div class="card-title">
          <strong>{{ element.title }} </strong>
          <!-- {{ element.title }} -->
        </div>
        <p>₹{{ element.price }}.00</p>
        <!-- {{ element.price }} -->
      </mat-card-content>
      <mat-card-content>
        <button type="button" class="btn btn-primary">
          <span class="material-symbols-outlined"> add_shopping_cart </span>
          Add to Cart
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</body>
