<div class="mt-5 body-container">
  <a>{{ title }}</a>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, atque?
    Laborum quibusdam, cupiditate temporibus aspernatur, veritatis voluptatem
    rem eligendi officia, minima ex ut tempora sed autem quia dolores beatae
    repellat. Id optio odit asperiores, ullam eligendi ratione laboriosam
    molestiae sit rerum nemo explicabo repudiandae totam corporis, consectetur
    itaque eveniet. Et pariatur sequi, necessitatibus quasi eius deleniti rerum
    nostrum totam doloremque inventore est suscipit perspiciatis amet commodi
    sint quia, blanditiis optio. Corrupti inventore dolor numquam atque esse aut
    autem, exercitationem quas expedita fuga dolorum rem corporis est, omnis
    quis impedit consequatur ex perspiciatis eligendi? Repellat ex, sapiente nam
    non quis inventore!
  </p>
</div>
