// .active-category {
//   background-color: #fb641b;
// }
.mat-list-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}
.mat-nav-list {
  cursor: pointer;
  outline: none;
}

.mat-divider {
  display: block;
  border-top-style: solid;
}
.category-item {
  cursor: pointer;
}

.category-item.active {
  background-color: #fb641b;
  color: #fff;
}
.all-cat {
  // background-color: palevioletred;
}
