/* You can add global styles to this file, and also import other style files */
html,
body {
  background: hsl(57, 58%, 87%);

  height: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.footer-container {
  margin-bottom: 0%;
}
.body-container {
  align-content: center;
  margin-left: 0%;
  margin-right: 0%;
  position: relative;
}

html,
body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.42629551820728295) 0%,
    rgba(162, 183, 228, 1) 19%,
    rgba(178, 183, 222, 1) 43%,
    rgba(179, 214, 214, 1) 58%,
    rgba(148, 218, 233, 1) 74%
  );
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
